{% extends 'base.html' %}

{% block title %}
AAAAAAAAAAAAAAAAAAA
{% endblock %}

{% block content %}

  <!--<div class="clearfix distance">
    <div class="col-md-4 offset-md-4">
      <div class="card auth-card">
        <div class="card-body">
          <h4 class="card-title text-center">Login Calendar</h4>

          <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" name="username" placeholder="Usuário..." class="form-control">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" name="password" placeholder="Senha..." class="form-control" >
            </div>

            <div class="d-flex justify-content-center mt-3 login_container">
              <input class="btn btn-info" type="submit" value="Registrar">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>-->

<div class="clearfix distance">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Register Account</h3>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.username}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password1}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
                            {{form.password2}}
						</div>

				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn btn-info" type="submit" value="Register Account">
				   		</div>
					</form>
				</div>

				{{form.errors}}

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='User';
		form_fields[2].placeholder='Password';
		form_fields[3].placeholder='Confirm Password';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>


{% endblock %}