{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="clearfix">
            <a class="btn btn-danger left" id="logout" href="/accounts/logout">Logout</a>
            <h1>Calendar</h1>
        </div>

        <div class="clearfix">
            <a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
            <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
            <a class="btn btn-info right" href="{% url 'cal:event_new' %}"> New Event </a>
        </div>
        {{ calendar }}
    {% else %}
        <div class="clearfix distance">
            <div class="col-md-4 offset-md-4">
              <div class="card auth-card">
                <div class="card-body">
                    <div class="btn-login">
                        <h1>You are not logged, please login to continue</h1>
                        <a href="/accounts/login">Login</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    {% endif %}
{% endblock %}